<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project EIT</title>
    
     
</head>

<body ng-app="eit">
    <div ng-controller="EITController as eit">
        <h1>Add Eit</h1>
        <div ng-if="eit.editMode() == false">
            Enter EIT name: <input type="text" min="0" ng-model="eit.name" required >
        </div>

        <div ng-if="eit.editMode() == true">
            Edit EIT name: <input type="text" min="0" ng-model="eit.name" required >
        </div>
            
        <button ng-click="eit.addEit()">doSomething EIT</button>
    
    </div>
    <hr>
    <div ng-controller="DetailController as detail">
        <h1>Detail</h1>
        {{detail.getCurrentEit()}}

    </div>
    <hr>
    <div ng-controller="ListController as list">
        <h1>List</h1>
            <ul ng-repeat="name in list.getEitList()">
                <li ng-click="list.setCurrentEit(name)">{{name}}</li>
            </ul>
        
    </div>
    <script src="https://code.angularjs.org/snapshot/angular.min.js"></script>
    <script src="js/eit.js"></script>
    <script src="js/eitModule.js"></script>
</body>

</html>