<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Example - example-guide-concepts-1-production</title>
    
     
</head>

<body>
    <div ng-app="eit" ng-controller="EITController as eit">
        <div>
          Enter EIT name: <input type="text" min="0" ng-model="eit.name" required >
        </div>
            
        <button ng-click="eit.addEit()">Add EIT</button>
    
        <ul ng-repeat="name in eit.list()">
            <li>{{name}}</li>
        </ul>
    
    </div>

    <script src="https://code.angularjs.org/snapshot/angular.min.js"></script>
    <script src="js/eit.js"></script>
    <script src="js/eitModule.js"></script>
</body>

</html>